<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
  <title>Game Haven</title>
</head>

<body>

  {{!-- navbar --}}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Game Haven</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    {{!-- new releases --}}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-2">
        <li class="nav-item">
          <a class="nav-link" href="/newreleases">New Releases</a>
        </li>

        {{!-- full catalogue dropdown --}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Full Catalogue
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/fullcatalogue/pc">PC</a>
            <a class="dropdown-item" href="/fullcatalogue/xbox1">XBOX ONE</a>
            <a class="dropdown-item" href="/fullcatalogue/xbox360">XBOX 360</a>
            <a class="dropdown-item" href="/fullcatalogue/playstation4">PS4</a>
            <a class="dropdown-item" href="/fullcatalogue/playstation3">PS3</a>
          </div>
        </li>
      </ul>
      <form class="form-inline mr-auto">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>

      <ul class="navbar-nav mr-2">
        {{!-- Hello, User --}}
        <li class="nav-item">
          <span class="navbar-text mr-2">Hello, User</span>
        </li>

        {{!-- profile dropdown --}}
        <li class="nav-item dropdown mr-0">
          <a class="nav-link dropdown-toggle mr-4" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Profile
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/profile/orders">Orders</a>
            <a class="dropdown-item" href="/profile/wishlist">Wish List</a>
            <a class="dropdown-item" href="#">Log out</a>
          </div>
        </li>

        {{!-- shopping cart --}}
        <li>
          <a class="navbar-brand ml-0" href="/cart">
            <div id="cart_icon">
              <div id="item_amount"></div>
            </div>
          </a>
        </li>
      </ul>
    </div>

  </nav>
  {{!-- navbar --}}

  {{{body}}}
  
  <script src="./js/index.js"></script>

</body>

{{!-- footer --}}
<footer>Copyright</footer>
{{!-- footer --}}

</html>