<div class="container">
    <hr>
    <div class="row">
        <div class="columnName col-md-2">Poster
        </div>
        <div class="columnName col-md-4">GameName
        </div>
        <div class="columnName col-md-1">Platform
        </div>
        <div class="columnName col-md-1">Price
        </div>
        <div class="columnName col-md-1">Quantity
        </div>
        <div class="columnName col-md-1">
        </div>
    </div>
    <hr>
    <div id="deleteTest" class="row">
        <div id="itemPoster" class="col-md-2">IMG
        </div>
        <div id="itemName" class="col-md-4">Overwatch
        </div>
        <div id="itemPlatform" class="col-md-1">PC
        </div>
        <div id="itemPrice" class="col-md-1">59.99
        </div>
        <div id="itemQuantity" class="col-md-1">
            <div class="form-group">
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
        <div id="deleteBttn" class="col-md-1">
            <span>Delete</span>
        </div>
    </div>
    <hr id="deleteTestHR">

    <div class="row">
        <div class="col-md-12 d-flex justify-content-end">
            <div id="checkoutBttn">
                <span>Checkout</span>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <img src=".././images/uca.gif" alt="">
            <span id="uc">
                <p>WEBSITE IS STILL</p>
                <p>UNDER CONSTRUCTION</p>
            </span>
            <img src=".././images/uca.gif" alt="">
        </div>
    </div>
</div>

<div id="paymentCard" class="card">
    <div id="paymentBackground"></div>

    <div id="cardBody" class="card-body">
        <h5 id="cardTitle" class="card-title">Card Holder Details</h5>
        <span id="closePayment">Close</span>
        <input class="form-control" type="text" placeholder="Name">
        <input class="form-control" type="email" placeholder="email@example.com">
        <input class="form-control" type="text" placeholder="Phone Number">
        <br>
        <h5 id="cardTitle" class="card-title">Card Information</h5>
        <input class="form-control" type="text" placeholder="1234 1234 1234 1234">
        <input class="form-control" type="text" placeholder="MM/YY">
        <input class="form-control" type="text" placeholder="CVC">
        <input class="form-control" type="text" placeholder="Zip Code">
        <br>
        <div id="submitPayment">Submit</div>
    </div>
</div>

