<br>
<h1>Playstation 3 Games</h1>
<div class="container">
    <hr>
    <div class="row">
        <div class="columnName col-md-3">Poster
        </div>
        <div class="columnName col-md-4">Title
        </div>
        <div class="columnName col-md-3">Platform
        </div>
        <div class="columnName col-md-2">Description
        </div>
    </div>
    <hr>

    {{!-- game1 --}}
    <div class="row">
        <div class="col-md-3">
            <div>
                <img class="posterDiv" src="{{poster}}" alt="game_poster">
            </div>
        </div>
        <div class="col-md-4">{{name}}
        </div>
        <div class="col-md-3">PC
        </div>
        <div class="col-md-2">
            <div id="summaryBttnPC1" class="summaryBttn">
                <span>Display</span>
            </div>
        </div>
    </div>
    <div id="summaryCardPC1" class="card summaryCard">
        <div class="card-body">
            {{summary}}
            <div class="x" id="xPC1"><span>x</span></div>
        </div>
    </div>
    <hr>
    {{!-- game1 --}}

    {{!-- game2 --}}
    <div class="row">
        <div class="col-md-3">
            <div>
                <img class="posterDiv" src="https://via.placeholder.com/70x70" alt="">
            </div>
        </div>
        <div class="col-md-4">Some Creative Title
        </div>
        <div class="col-md-3">PC
        </div>
        <div class="col-md-2">
            <div id="summaryBttnTEST" class="summaryBttn">
                <span>Display</span>
            </div>
        </div>
    </div>
    <div id="summaryCardPC2" class="card summaryCard">
        <div class="card-body">
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                officia deserunt mollit anim id est laborum.</span>
            <div class="x" id="xPC2"><span>x</span></div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <img src=".././images/uca.gif" alt="">
            <span id="uc">
                <p>WEBSITE IS STILL</p>
                <p>UNDER CONSTRUCTION</p>
            </span>
            <img src=".././images/uca.gif" alt="">
        </div>
    </div>
    {{!-- game2 --}}
<br>
</div>