<h1>Wishlist</h1>
<div class="container">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <img src=".././images/uca.gif" alt="">
            <span id="uc">
                <p>WEBSITE IS STILL</p>
                <p>UNDER CONSTRUCTION</p>
            </span>
            <img src=".././images/uca.gif" alt="">
        </div>
    </div>
</div>